asgiref==3.4.1
boto3==1.17.49
botocore==1.20.49
Brotli==1.0.9
Django==3.2.11
django-anymail==8.6
django-cors-headers==3.13.0
django-mailjet==0.3.1
django-rest-knox==4.2.0
requests==2.25.0
djangorestframework==3.13.1
django-storages==1.11.1
gunicorn==20.1.0
ipaddress==1.0.16
jmespath==0.10.0
psycopg2==2.8.6
pycparser==2.21
pygeoip==0.3.2
python-dateutil==2.8.1
pytz==2021.3
s3transfer==0.3.6
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.4
zstandard==0.17.0
dj-database-url==1.2.0
numexpr==2.7.3
numpy==1.21.2
